# Environments
venv/
env/
__pycache__/
*.pyc

# Project specific
models/
enrolled_faces/
*.pkl
.DS_Store

node_modules/

models/*.pt
models/*.onnx
models/*.bin
venv/
__pycache__/
.cursor/
*.pkl
*.pt
*.onnx
